# Node modules
node_modules/

# Build artifacts
dist/
build/
*.bundle.js
*.chunk.js
*.hot-update.js
*.hot-update.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor and OS specific files
.DS_Store
.vscode/
*.sublime-project
*.sublime-workspace
