:root {
  --clr: #222327;
  --larg_min_tela: 720px;
  --larg_card: 310px;
  --larg_card_wrapper: 350px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Impede Seleccção e Copia */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightskyblue;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.container {
    margin-top: 20px;
}
.ota-frame {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}