

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid #e0e0e0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;    
}

.card-title {
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    color: #222;
    display: flex;
    align-items: center;   
}

.card-title svg {
    vertical-align: middle;   
    margin-right: 0px;     
    width: 35px;  
    height: 35px;          
    cursor: pointer;
}



.card-content {
    color: #555;
    line-height: 1.5;
}

.menu-trigger {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #888;
    transition: background-color 0.2s;
}

.menu-trigger:hover {
    background-color: #f0f0f0;
    color: #41bdf5;
}


/* Indicador de Ação */
.action-indicator {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #41bdf5;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1500;
}

.action-indicator.show {
    opacity: 1;
    transform: translateY(0);
}

/* Status bar */
.status-bar {
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 0.9rem;
    color: #666;
    display: flex;
    justify-content: space-between;
}





/*********************************************************/


.ota-button-header {
    //background: #41bdf5;
    // color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    transition: background-color 0.2s;
}

.ota-button-header svg {
    vertical-align: middle;   
    margin-right: 0px;     
    width: 35px;  
    height: 35px;          
    cursor: pointer;
}