
// Anidación de selectores
.caja {
  border: 2px solid red;
  padding: 20px;
  border-radius: 10px;
  background-color: lighten($primary, 40%);
  
  h2 {
    margin: 0;
    color: darken($primary, 20%);
  }
  
  p {
    font-size: 1.2em;
    color: darken($primary, 10%);
  }
}