// _modulo1.scss ATUALIZADO
@use "sass:color";

// variables.scss
$primary: #3498db !default;

// Anidación de selectores
.caja {
  border: 2px solid red;
  padding: 20px;
  border-radius: 10px;
  background-color: color.adjust($primary, $lightness: 40%);
  
  h2 {
    margin: 0;
    color: color.adjust($primary, $lightness: -20%);
  }
  
  p {
    font-size: 1.2em;
    color: color.adjust($primary, $lightness: -10%);
  }
}