
$fundo_body: #121212;

// Cargar modulos de Sass
@use 'cards';
@use 'menu_inferior';
@use 'menu_contextual';
@use 'view_selector';
@use 'submenu_overlay';
@use 'permit_join'; 
@use "sass:color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  //Impede Seleccção e Copia
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: $fundo_body;  
}
