


@mixin bg-color($color: red){
	background-color: $color;
}

// Variables
body{
	@include bg-color(gray);
}

// Operadores
p{
	@include bg-color(blue);
	height: 400px - 100px; 
}

// Anidación
div{
	@include bg-color(orange);
	
	p{
		padding: 5px;
		&:hover{
			background: yellow;
		}
	}
}

// Herencia
nav{
	@extend div;
}